PVCCCAF/Service References/AXWO/ACXWebPortal2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.226.17.25:8101/DynamicsAx/Services/ACXWebPortal?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
  <xs:import schemaLocation="http://10.226.17.25:8101/DynamicsAx/Services/ACXWebPortal?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="WebPortalServiceSendPVItemSelectionRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="WebPortalPVItemSelection" nillable="true" type="q1:ArrayOfAcxWebPortalPVActSelectionCC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebPortalServiceSendPVItemSelectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebPortalServiceGetItemOutOfStockRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_itemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebPortalServiceGetItemOutOfStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebPortalServiceSendOrderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="WebPortalOrderLine" nillable="true" type="q2:ArrayOfACXWebPortalOrderLineCC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebPortalServiceSendOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebPortalServiceSendPVAccountSelectionRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="WebPortalPVActSelection" nillable="true" type="q3:ArrayOfAcxWebPortalPVActSelectionCC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebPortalServiceSendPVAccountSelectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebPortalServiceGetCustomerBalanceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebPortalServiceGetCustomerBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebPortalServiceGetPriceDiscRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_qty" type="xs:decimal" />
        <xs:element minOccurs="0" name="_priceGroupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebPortalServiceGetPriceDiscResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="response" nillable="true" type="q4:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebPortalServiceSendPriceVarianceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="WebPortalPVLines" nillable="true" type="q5:ArrayOfACXWebPortalPVLinesCC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebPortalServiceSendPriceVarianceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebPortalServiceSendPVEndDateUpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="WebPortalPVExtendedDate" nillable="true" type="q6:ArrayOfAcxWebPortalPVExtendedDateUpdCC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebPortalServiceSendPVEndDateUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebPortalServiceSendPVItemPriceGroupRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="WebPortalPVItemPriceGroup" nillable="true" type="q7:ArrayOfAcxWebPortalItemPriceGroupCC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebPortalServiceSendPVItemPriceGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebPortalServiceSendPVCustPriceGroupRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="WebPortalPVCustPriceGroup" nillable="true" type="q8:ArrayOfAcxWebPortalCustPriceGroupCC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebPortalServiceSendPVCustPriceGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>